.u-section-1 {
  background-image: url("images/2560x1440-aqua-solid-color-background.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 951px;
}

.u-section-1 .u-image-1 {
  width: 137px;
  height: 137px;
  background-image: url("images/phoenix2.png");
  background-position: 50% 50%;
  margin: 153px auto 0 211px;
}

.u-section-1 .u-image-2 {
  width: 137px;
  height: 137px;
  background-image: url("images/3.jpg");
  background-position: 50% 50%;
  margin: -137px auto 0 405px;
}

.u-section-1 .u-image-3 {
  width: 137px;
  height: 137px;
  background-image: url("images/Kiddions.png");
  background-position: 50% 50%;
  margin: -137px auto 0 598px;
}

.u-section-1 .u-image-4 {
  width: 137px;
  height: 137px;
  background-image: url("images/unnamed8.png");
  background-position: 50% 50%;
  margin: -137px auto 0 792px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 11px auto 0 217px;
  padding: 6px 22px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -37px auto 0 411px;
  padding: 6px 28px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -37px auto 0 604px;
  padding: 6px 20px 6px 18px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -37px auto 0 799px;
  padding: 6px 41px 6px 40px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 9px auto 0 211px;
  padding: 8px 19px 8px 18px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -37px auto 0 405px;
  padding: 8px 19px 8px 18px;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -38px auto 0 598px;
  padding: 8px 19px 8px 18px;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -36px auto 0 792px;
  padding: 8px 19px 8px 18px;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 9px auto 0 232px;
  padding: 8px 14px;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -35px auto 0 426px;
  padding: 8px 14px;
}

.u-section-1 .u-btn-11 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -35px auto 0 813px;
  padding: 8px 14px;
}

.u-section-1 .u-btn-12 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -35px auto 0 618px;
  padding: 8px 30px 8px 29px;
}

.u-section-1 .u-image-5 {
  width: 137px;
  height: 137px;
  background-image: url("images/unnamed9.png");
  background-position: 50% 50%;
  margin: 55px auto 0 405px;
}

.u-section-1 .u-image-6 {
  width: 137px;
  height: 137px;
  background-image: url("images/astro-web.jpg");
  background-position: 50% 50%;
  margin: -137px auto 0 598px;
}

.u-section-1 .u-btn-13 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 11px auto 0 412px;
  padding: 6px 36px 6px 34px;
}

.u-section-1 .u-btn-14 {
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -37px auto 0 598px;
  padding: 6px 36px;
}

.u-section-1 .u-btn-15 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 11px auto 0 405px;
  padding: 8px 19px 8px 18px;
}

.u-section-1 .u-btn-16 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -37px auto 0 597px;
  padding: 8px 19px 8px 18px;
}

.u-section-1 .u-btn-17 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 11px auto 0 426px;
  padding: 8px 30px 8px 29px;
}

.u-section-1 .u-btn-18 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -35px auto 0 616px;
  padding: 8px 14px;
}

.u-section-1 .u-text-1 {
  margin: 153px 95px 11px 494px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 940px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 154px;
    margin-left: 111px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 304px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 306px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-left: 692px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 8px;
    margin-right: 699px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 505px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -38px;
    margin-left: 503px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -34px;
    margin-right: 118px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 699px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 305px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 497px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: -38px;
    margin-left: 692px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 13px;
    margin-left: 126px;
  }

  .u-section-1 .u-btn-10 {
    margin-right: 132px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 326px;
  }

  .u-section-1 .u-btn-12 {
    margin-right: 327px;
    margin-left: auto;
  }

  .u-section-1 .u-image-5 {
    margin-top: 53px;
    margin-right: 505px;
    margin-left: auto;
  }

  .u-section-1 .u-image-6 {
    margin-left: 497px;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 310px;
  }

  .u-section-1 .u-btn-14 {
    margin-left: 503px;
  }

  .u-section-1 .u-btn-15 {
    margin-top: 10px;
    margin-left: 305px;
  }

  .u-section-1 .u-btn-16 {
    margin-left: 503px;
  }

  .u-section-1 .u-btn-17 {
    margin-left: 324px;
  }

  .u-section-1 .u-btn-18 {
    margin-top: -38px;
    margin-right: 324px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    margin: 157px 0 0 389px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 720px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 304px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 583px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 479px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 285px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 20px;
    margin-right: 285px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 479px;
    margin-left: 106px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 20px;
    margin-right: 479px;
    margin-left: 106px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 284px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 478px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-10 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 106px;
  }

  .u-section-1 .u-btn-12 {
    margin-right: 107px;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 90px;
  }

  .u-section-1 .u-btn-14 {
    margin-left: 283px;
  }

  .u-section-1 .u-btn-15 {
    margin-left: 85px;
  }

  .u-section-1 .u-btn-16 {
    margin-left: 283px;
  }

  .u-section-1 .u-btn-17 {
    margin-left: 104px;
  }

  .u-section-1 .u-btn-18 {
    margin-right: 104px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 169px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 348px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -137px;
    margin-right: 306px;
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-left: 403px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 299px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 105px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -38px;
    margin-right: auto;
    margin-left: 103px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 299px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -37px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 106px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 298px;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-12 {
    margin-right: 0;
  }

  .u-section-1 .u-image-5 {
    margin-right: 403px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 403px;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-14 {
    margin-left: 103px;
  }

  .u-section-1 .u-btn-15 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-16 {
    margin-left: 103px;
  }

  .u-section-1 .u-btn-17 {
    margin-right: 28px;
    margin-left: 416px;
  }

  .u-section-1 .u-btn-18 {
    margin-right: 29px;
    margin-left: 416px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 347px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 203px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 203px;
  }

  .u-section-1 .u-image-4 {
    margin-left: 203px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 99px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 99px;
    margin-left: 102px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 102px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 102px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 102px;
  }

  .u-section-1 .u-image-5 {
    margin-right: 203px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 203px;
  }

  .u-section-1 .u-btn-14 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-16 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-17 {
    margin-left: 216px;
  }

  .u-section-1 .u-btn-18 {
    margin-left: 216px;
  }
}